### SECTION 4 : PYTHON COMPARISON OPERATORS

### Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
2.0 == 2

True

In [7]:
3 != 3

False

In [8]:
4 != 5

True

In [9]:
2 > 1

True

In [10]:
1 > 2

False

In [11]:
1 < 2

True

In [12]:
2 < 5

True

In [13]:
2 >= 2

True

In [14]:
4 <= 1

False

### Logical Operators

In [15]:
1 < 2 < 3

True

In [16]:
1 < 2 and 2 < 3

True

In [17]:
1 < 2 > 3

False

In [18]:
('h' == 'h') and (2 == 2)

True

In [19]:
1 == 1 or 2 == 2

True

In [20]:
100 == 1 or 2 == 2

True

In [21]:
not (1 == 1)

False

In [22]:
400 > 5000

False

In [23]:
not 400 > 5000

True

### Control Flow Statements

In [24]:
if True:
    print('Its True!')

Its True!

In [25]:
if 3>2:
    print('Its True')

Its True

In [26]:
hungry = True

if hungry:
    print('Feed Me!')

Feed Me!

In [27]:
hungry = False

if hungry:
    print('Feed Me!')

In [28]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print('I am not hungry')

I am not hungry

In [29]:
hungry = True

if hungry:
    print('Feed Me!')
else:
    print('I am not hungry')

Feed Me!

In [30]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
else:
    print('I do not know much.')

I do not know much.

In [31]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
else:
    print('I do not know much.')

Money is cool!

In [32]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is Cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool!

In [33]:
loc = 'Store'

if loc == 'AUto Shop':
    print('Cars are Cool!')
elif loc == 'Bank':
    print('money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

Welcome to the Store!

In [34]:
loc = 'Game'

if loc == 'AUto Shop':
    print('Cars are Cool!')
elif loc == 'Bank':
    print('Money is Cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

I do not know much.

In [35]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your Name?')

Hello Sammy!

In [36]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your Name?')

Hello Frankie!

In [37]:
name = 'Jose'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your Name?')

What is your Name?

### Loops - for

In [40]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [41]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [42]:
# only even numbers
for num in mylist:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [43]:
# only even numbers
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [44]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [45]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [46]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [47]:
for ghghg in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [48]:
tup =(1,2,3)

for item in tup:
    print(item)

1
2
3

In [49]:
mylist = [(1,2),(3,4),(4,5),(5,6),(7,8)]

In [50]:
len(mylist)

5

In [51]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(4, 5)
(5, 6)
(7, 8)

In [52]:
# Tuple Unpackin
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
4
5
5
6
7
8

In [53]:
# Tuple Unpackin
for (a,b) in mylist:
    print(a)

1
3
4
5
7

In [54]:
# Tuple Unpackin
for (a,b) in mylist:
    print(b)

2
4
5
6
8

In [55]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [56]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

for a,b,c in mylist:
    print(c)

3
7
10

In [57]:
d = {'k1':1, 'k2' :2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [59]:
d = {'k1':1, 'k2' :2, 'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [60]:
d = {'k1':1, 'k2' :2, 'k3':3}

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [61]:
d = {'k1':1, 'k2' :2, 'k3':3}

for value in d.values():
    print(value)

1
2
3

### Loop- while

In [63]:
x = 0

while (x < 5):
    print(f'The Current Value of x is {x}')
    x = x + 1

The Current Value of x is 0
The Current Value of x is 1
The Current Value of x is 2
The Current Value of x is 3
The Current Value of x is 4

In [64]:
x = 0

while (x < 5):
    print(f'The Current Value of x is {x}')
    x = x + 1
else:
    print('x is not less than 5')

The Current Value of x is 0
The Current Value of x is 1
The Current Value of x is 2
The Current Value of x is 3
The Current Value of x is 4
x is not less than 5

In [65]:
x = 50

while (x < 5):
    print(f'The Current Value of x is {x}')
    x = x + 1
else:
    print('x is not less than 5')

x is not less than 5

In [66]:
# Break, Continue  and Pass

x = [1,2,3]

for item in x:
    #comment
    pass
print('end of my script')

end of my script

In [67]:
mystring = 'Sammy'

for letter in mystring:
    print(letter)

S
a
m
m
y

In [68]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [69]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [70]:
x = 0

while (x < 5):
    print(x)
    x = x + 1

0
1
2
3
4

In [71]:
x = 0

while (x < 5):
    if x == 2:
        break
    print(x)
    x = x + 1

0
1

### Useful Operators

In [73]:
mylist = [1,2,3]

In [75]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [76]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [78]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [79]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [82]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [83]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [84]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [88]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [89]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [92]:
for item in zip(mylist1, mylist2,mylist):
    print(item)

(1, 'a', 1)
(2, 'b', 2)
(3, 'c', 3)

In [93]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [94]:
for item in zip(mylist1, mylist2,mylist):
    print(item)

(1, 'a', 1)
(2, 'b', 2)
(3, 'c', 3)

In [95]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [96]:
'x' in [1,2,3]

False

In [98]:
'x' in ['x','y','z']

True

In [99]:
'a' in 'a world'

True

In [100]:
'mykey' in {'mykey' : 345}

True

In [101]:
d = {'mykey' : 345}

345 in d.keys()

False

In [105]:
mylist = [10,20,30,40,100]

In [106]:
min(mylist)

10

In [104]:
max(mylist)

100

In [112]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

[9, 5, 2, 7, 4, 6, 10, 1, 3, 8]

In [114]:

random_list = shuffle(mylist)
type(random_list)

NoneType

In [115]:
from random import randint

randint(0,100)

98

In [118]:
mynum = randint (0,100)
mynum

29

In [119]:
input('Enter a NUmber here: ')

Enter a NUmber here: 50

'50'

In [120]:
result = input('Favourite Number: ')

Favourite Number: 30

In [121]:
type(result)

str

In [124]:
result

'30'

In [122]:
float(result)

30.0

In [123]:
int(result)

30

In [125]:
result = int(input('Favourite NUmber: '))

Favourite NUmber: 20

In [126]:
type(result)

int

### List Comprehensions

In [128]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [129]:
mylist

['h', 'e', 'l', 'l', 'o']

In [131]:
mystring = 'hello'

mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [134]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [136]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [137]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [139]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [140]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [143]:
Celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32)for temp in Celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [145]:
fahrenheit = []

for temp in Celcius:
    fahrenheit.append((9/5)*temp + 32)

In [146]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

### List Comprehension in IF-ELSE statements

In [150]:
results = [x if x%2==0 else 'Even' for x in range(0,11)]
results

[0, 'Even', 2, 'Even', 4, 'Even', 6, 'Even', 8, 'Even', 10]

In [151]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [152]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [154]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [157]:
myist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]