### SECTION 6: METHODS AND FUNCTION

##### Methods

In [1]:
MYLIST = [1,2,3,4]
MYLIST.append(5)

In [2]:
MYLIST

[1, 2, 3, 4, 5]

In [3]:
MYLIST.pop()

5

In [4]:
MYLIST

[1, 2, 3, 4]

In [5]:
help(MYLIST.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

##### Function

In [6]:
def say_hello():
    print("hello")
    print('are')
    print('you')

In [7]:
say_hello()

hello
are
you

In [8]:
say_hello

In [9]:
def say_hello(name):
    print(f'Hello {name}')

In [10]:
say_hello('Jose')

Hello Jose

In [11]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [12]:
say_hello()

Hello Default

In [13]:
def add_num(num1,num2):
    return num1 + num2

In [14]:
add_num(10,20)

30

In [15]:
result = add_num(10,20)
result

30

In [16]:
def print_result(a,b):
    print(a+b)

In [17]:
print_result(10,20)

30

In [18]:
result = print_result(10,20)
result
type(result)

30

NoneType

In [19]:
def return_results(a,b):
    return a+b

In [20]:
result= return_results(10,20)
result
type(result)

int

In [21]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [22]:
result = myfunc(10,20)
result

30

30

In [23]:
def sum_num(num1,num2):
    return num1 + num2

In [24]:
sum_num(10,20)

30

In [25]:
# Number in String Format
sum_num('10','20')

'1020'

##### Functions with Logic

In [26]:
 2 % 2

0

In [27]:
3 % 2

1

In [28]:
41 % 40

1

In [29]:
20 % 2

0

In [30]:
20 % 2 == 0

True

In [31]:
21 % 2 == 0

False

In [32]:
# Constructing the above operations in Function
def even_check(number):
    result = number % 2 == 0
    return result

In [33]:
even_check(20)

True

In [34]:
even_check(21)

False

In [35]:
# Returning True if any number is even inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [36]:
check_even_list([3,4,7,9])

True

In [37]:
check_even_list([3,1,5])

In [38]:
# Returning True if any number is even inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            return False # wrong ### since it only looks upon one number in the list

In [39]:
check_even_list([7,5,7,1])

False

In [40]:
check_even_list([1,2,7,1]) # Wrong

False

In [41]:
# Returning True if any number is even inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False    ### Correct

In [42]:
check_even_list([1,2,7,1]) ## Correct

True

In [43]:
check_even_list([1,3,7,1]) ##  Correct

False

In [44]:
# To return all even numbers in the list

def check_even_list(num_list):
    
    even_number = []
    
    for number in num_list:
        if number % 2 == 0:
            even_number.append(number)
        else:
            pass
    return even_number

In [45]:
check_even_list([2,5,6,7,9,11])

[2, 6]

In [46]:
check_even_list([1,3,5,7,9])

[]

##### Tuple Unpacking with Python Functions

In [47]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [48]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [49]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [50]:
for ticker, price in stock_prices:
    print(price)

200
400
100

In [51]:
# Tracking thatwho work with max hours
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [52]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #Return
    return(employee_of_month,current_max)

In [53]:
result = employee_check(work_hours)
result

('Billy', 4000)

In [54]:
name,hours = employee_check(work_hours)

In [55]:
name

'Billy'

In [56]:
hours

4000

##### Interaction between Functions

In [57]:
# How multiple function interact each other
example = [1,2,3,4,5,6,7]

from random import shuffle

shuffle(example)
example

[7, 1, 6, 4, 3, 5, 2]

In [58]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [59]:
result = shuffle_list(example)
result

[4, 5, 2, 1, 6, 7, 3]

In [60]:
mylist = [' ', '0',' ']

shuffle_list(mylist)

[' ', ' ', '0']

In [61]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1,2')
        
    return int(guess)

In [62]:
player_guess()

Pick a number: 0,1,21

1

In [63]:
myindex = player_guess()

Pick a number: 0,1,22

In [64]:
myindex

2

In [65]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct')
    else:
        print('Wrong Guess')
        print(mylist)

In [66]:
# intial list
mylist = [' ','0',' ']

#shuffle list
mixedup_list = shuffle_list(mylist)

#user guess
guess = player_guess()

#check guess
check_guess(mixedup_list,guess) ## intercatin of the functions

Pick a number: 0,1,21
Wrong Guess
['0', ' ', ' ']

##### Function #1: Print Hello World

In [67]:
def myfun():
    print("Hello World")

In [68]:
myfun()

Hello World

##### Funtion #2: Print Hello Name

In [69]:
def myfun(name):
    print(f'Hello {name}')

In [70]:
def myfun(name):
    print('Hello {}'.format(name))

In [71]:
myfun('Anchana')

Hello Anchana

##### Function #3: Simple Boolean

In [72]:
def myfunc(i):
    if i == True:
        return 'Hello'
    else:
        return 'Goodbye'

In [73]:
def myfunc(i):
    if i == True:
        return 'Hello'
    elif i== False:
        return 'Goodbye'
    else:
        return 'Enter a Valid Option'

In [74]:
myfunc(True)

'Hello'

In [75]:
myfunc(False)

'Goodbye'

In [76]:
myfunc('no')

'Enter a Valid Option'

##### Function #4: Using Booleans

In [77]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y

In [78]:
myfunc(2,3,False)

3

In [79]:
myfunc(5,7,True)

5

##### Function #5: Smiple Math

In [80]:
def myfun(x,y):
    return x + y

In [81]:
myfun(1,1)

2

##### Function #6: is even

In [82]:
def is_even(i):
    if i%2 == 0:
        return True
    else:
        return False

In [83]:
is_even(2)

True

In [84]:
is_even(1)

False

##### Function #7: is greater

In [85]:
def is_greater(x,y):
    if x > y:
        return True
    elif x <= y:
        return False

In [86]:
is_greater(10, 5)

True

In [87]:
is_greater(2, 5)

False

In [88]:
is_greater(5, 5)

False

##### args and kwargs

In [89]:
def myfun(a,b):
    
    return sum((a,b))*0.05

In [90]:
myfun(20,40)

3.0

In [91]:
#Postitional Arguments
def myfun(a,b,c=0,d=0,e=0):
    
    return sum((a,b))*0.05

In [92]:
myfun(10,20,30)

1.5

###### *args

In [93]:
def myfunc(*args):
    return sum(args) * 0.05

In [94]:
myfunc(40,60)

5.0

In [95]:
myfunc(40,60,100,120)

16.0

In [96]:
# Can use user friendly variable
def myfunc(*args):
    print(args)

In [97]:
myfunc(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [98]:
def myfunc(*args):
    for item in args:
        print(item)

In [99]:
myfunc(3,4,6,8,9,1,2,3)

3
4
6
8
9
1
2
3

##### **kwargs(keyword arguments) - build dictionary of key value pairs

In [100]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit')

In [101]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [102]:
myfunc(veggie = 'lettuce')

{'veggie': 'lettuce'}
I did not find any fruit

##### Combination of args and Kwargs

In [103]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [104]:
myfunc(10,20,30,fruit = 'orange', food = 'eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

##### Function # 8: *args

In [105]:
def myfunc(*args):
    return sum(args)

In [106]:
myfunc(10,20,30,40,50,60,70,80,90,100)

550

##### Function # 9: pick evens

In [125]:
def myfunc(*args):
    for num in args:
        if num %2 == 0:
            print('{}'.format([num]))

In [127]:
myfunc(5,6,7,8)

[6]
[8]

NoneType

##### Function #10 :Skyline

In [144]:
def fun_1(my_string):
    out = []
    for index,letter in enumerate(my_string):
        if index % 2 == 0:
            out.append(letter.upper())
        else:
            out.append(letter.lower())
    print(''.join(out))

In [145]:
fun_1('jsdfhdjfvh')

JsDfHdJfVh

##### Lambda Expressions, Map and Filter

In [147]:
def square(num):
    return num**2

In [148]:
my_nums = [1,2,3,4,5]

#### Map

In [170]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [171]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [172]:
# printing the even length of characters as Even, else printing only the first letter
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [173]:
name = ['Andy', 'Eve','Sally']

In [174]:
list(map(splicer,name))

['EVEN', 'E', 'S']

#### Filter

In [175]:
def check_even(num):
    return num%2 == 0

In [176]:
mynums = [1,2,3,4,5,6]

In [177]:
list(filter(check_even,mynums))

[2, 4, 6]

In [178]:
for n in filter(check_even,mynums):
    print (n)

2
4
6

In [179]:
def square(num):
    result = num **2
    return result

In [180]:
def square(num): return num ** 2

In [181]:
square(3)

9

#### Lambda Expression

In [182]:
square = lambda num: num ** 2

In [169]:
square(5)

25

In [183]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [185]:
list(filter(lambda num: num%2 == 0,mynums))

[2, 4, 6]

In [187]:
name

['Andy', 'Eve', 'Sally']

In [189]:
list(map(lambda x:x[0],name))

['A', 'E', 'S']

In [190]:
list(map(lambda x:x[::-1],name))

['ydnA', 'evE', 'yllaS']

##### Nested Statements and Scope

In [192]:
x = 25

def printer():
    x = 50
    return x

In [193]:
print(x)

25

In [194]:
print(printer())

50

##### Variable Referencing - LEGB (Local,Enclosing function locals, Global & Built-in)

In [195]:
#Local Variable as num
lambda num:num**2

In [196]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #Enclosing
    name = 'Sammy'
    
    def hello():
        #Local
        name = 'LOCAL'
        print('Hello '+name)
        
    hello()
    
greet()

Hello LOCAL

In [197]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #Enclosing
    name = 'Sammy'
    
    def hello():
        #Local
        #name = 'LOCAL'
        print('Hello '+name)
        
    hello()
    
greet()

Hello Sammy

In [198]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #Enclosing
    #name = 'Sammy'
    
    def hello():
        #Local
        #name = 'LOCAL'
        print('Hello '+name)
        
    hello()
    
greet()

Hello THIS IS A GLOBAL STRING

In [199]:
# eg of Built-in Function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [202]:
x = 50
def func(x):
    print(f'X is {x}')

In [203]:
func(x)

X is 50

In [5]:
x = 50
def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [6]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [206]:
print(x)

50

In [10]:
x = 50
def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [11]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [12]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'New Value'
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [13]:
print(x)

50

In [14]:
func()

X is 50
I JUST LOCALLY CHANGED X TO New Value

In [15]:
print(x)

New Value

In [16]:
x = 50
def func(x):
    
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'new value'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [17]:
print(x)

50

In [18]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED X TO new value

In [19]:
x

'new value'